{% extends 'base.html.twig' %}

{% block body %}

    <div id="main">
        <!-- Post -->
        <section class="post">
            <header class="major">
                <script type="text/javascript">
                    function imprimer_page(){
                        window.print();
                    }
                </script>
                <fieldset>
                    <div class="columns text-center">">
                        <h1>Evenement</h1>

                    </div>
                   
                    <div class="colums">
                        <form>
                            <input id="impression" class="js-programmatic-set-val btn btn-outline-primary mr-1 mb-1s" name="impression" type="button" onclick="imprimer_page()" value="Print this page" />
                        </form>
                        <table class="table">
                            <div class="col-md-12">
                                <fieldset>
                                    <a href="{{ path('app_back') }}" class="btn btn-primary">Back to Dashboard</a>
                                </fieldset>
                            </div>
                            
                            </div>
                            <tbody>
                            <tr>
                                <th>Image</th>
                                {% if event.image|length > 0 %}
                                    <td><img src="{{ asset('uploads/'~ event.image ) }}" width="100" height="100"></td>
                                {% else %}
                                    <td><img src="{{ asset('uploads/'~ "Not found.jpg" ) }}" width="100" height="100"></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>Titre</th>
                                <td>{{ event.titre }}</td>
                            </tr>
                            <tr>
                                <th>descriptin</th>
                                <td>{{ event.description }}</td>
                            </tr>
                            <tr>
                                <th>lieu</th>
                                <td>{{ event.lieu }}</td>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <td>{{ event.date ? event.date|date('Y-m-d') : '' }}</td>
                            </tr>
                           

                            </tbody>
                        </table>



                        <iframe style="border:0; width: 100%; height: 350px;" class="img-fluid" src="https://maps.google.com/maps?q=+{{event.titre}}+&hl=fr&z=14&amp;output=embed" frameborder="0" allowfullscreen></iframe>              <div class="map-wrapper-300 mb-3">
        </section>
    </div>



{% endblock %}